In [1]:
!python -V

Python 3.10.4

In [2]:
import pandas as pd
import numpy as np

Question 1
What's the version of NumPy that you installed?

In [3]:
np.__version__

'1.21.5'

In [4]:
cars =pd.read_csv('car_dataset.csv')

In [5]:
cars.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

Question 2:How many records are in the dataset?

In [6]:
cars.shape

(11914, 16)

Question 3:
Who are the most frequent car manufacturers (top-3) according to the dataset?

In [7]:
cars['Make'].value_counts()[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

Question 4:
What's the number of unique Audi car models in the dataset?

In [8]:
audi_unique=cars[cars['Make']=='Audi']

In [9]:
audi_unique['Model'].nunique()

34

Question 5:
How many columns in the dataset have missing values?

In [10]:
cars.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

Question 6:
Find the median value of "Engine Cylinders" column in the dataset.

In [11]:
cars['Engine Cylinders'].median()

6.0

Next, calculate the most frequent value of the same "Engine Cylinders".

In [12]:
cars['Engine Cylinders'].mode()

0    4.0
Name: Engine Cylinders, dtype: float64

Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.

In [13]:
cars['Engine Cylinders'] = cars['Engine Cylinders'].fillna(4.0)

In [14]:
cars['Engine Cylinders'].isnull().sum()

0

Now, calculate the median value of "Engine Cylinders" once again.
Has it changed?

In [15]:
cars['Engine Cylinders'].median()

6.0

NO

Question 7
Select all the "Lotus" cars from the dataset.

In [16]:
lotus_car=cars[cars['Make']=='Lotus']

In [17]:
lotus_car.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
3912,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,43995
3913,Lotus,Elise,2009,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990
3914,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3915,Lotus,Elise,2010,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3916,Lotus,Elise,2010,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990

Select only columns "Engine HP", "Engine Cylinders".

In [18]:
lotus_cars1 =lotus_car[['Engine HP','Engine Cylinders']]

Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).

In [19]:
x =lotus_cars1.drop_duplicates()

In [20]:
x

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [21]:
np.array(x)

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])

In [22]:
XTX = np.dot(x.T,x)

In [23]:
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [24]:
XTX_inv =np.linalg.inv(XTX)

In [25]:
g = np.dot(XTX_inv,x.T)

In [26]:
w =np.dot(g,y)

In [27]:
w

array([  4.59494481, -63.56432501])